**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vscode
**/*.*proj.user
**/*.dproj.local
**/*.identcache
**/*.dbmdl
**/*.jfm
**/bin
**/Win32
**/Win64
**/obj
**/docker-compose*
**/Dockerfile*
**/*.log
LICENSE
README.md